[submodule "Carthage/Checkouts/DVR"]
	path = Carthage/Checkouts/DVR
	url = https://github.com/venmo/DVR.git
[submodule "Carthage/Checkouts/OHHTTPStubs"]
	path = Carthage/Checkouts/OHHTTPStubs
	url = https://github.com/AliSoftware/OHHTTPStubs.git
