[submodule "Carthage/Checkouts/DVR"]
	path = Carthage/Checkouts/DVR
	url = https://github.com/venmo/DVR.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
